In [1]:
import pandas as pd
import numpy as np

# from pyhhmm.gaussian import GaussianHMM
from pandas_datareader.data import DataReader

import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_json('data/ETH_USDT-5m.json')
df.columns = ['timestamp', 'open', 'high', 'low', 'close', 'volume']
# convert timestamp to datetime format
# df['timestamp'] = pd.to_datetime(df['timestamp'], unit='ms')
# set timestamp as index
# df.set_index('timestamp', inplace=True)
df.dropna(inplace=True)

df = df[:10000]

df.head(30)

        timestamp    open    high     low   close    volume
0   1502942400000  301.13  301.13  300.00  301.13   3.82951
1   1502942700000  300.00  301.13  298.00  298.00   1.97216
2   1502943000000  298.00  298.00  298.00  298.00   0.00000
3   1502943300000  298.00  299.05  298.00  299.05  12.88486
4   1502943600000  299.05  300.10  299.05  300.10   6.58304
5   1502943900000  299.40  300.80  299.39  299.39  11.97275
6   1502944200000  299.39  299.39  299.39  299.39  20.79097
7   1502944500000  299.39  300.79  299.39  299.60  27.59262
8   1502944800000  299.60  299.60  299.60  299.60   4.55220
9   1502945100000  299.60  300.80  299.60  300.79   5.23649
10  1502945400000  300.79  301.13  300.79  301.13  15.94388
11  1502945700000  301.13  302.57  301.13  301.61  14.31029
12  1502946000000  301.61  301.61  300.95  301.61  56.81079
13  1502946300000  301.61  302.57  301.61  302.57   7.67937
14  1502946600000  302.57  302.57  302.01  302.01  17.20219
15  1502946900000  302.01  302.05  302.01  302.05  10.97915
16  1502947200000  302.05  303.28  302.05  303.28  40.66131
17  1502947500000  302.21  302.21  300.00  302.21  98.47341
18  1502947800000  302.21  302.21  302.11  302.11   6.15513
19  1502948100000  302.11  302.20  302.11  302.20   9.75173
20  1502948400000  302.20  303.28  302.08  303.28  80.78181
21  1502948700000  303.28  303.28  303.10  303.10  23.54246
22  1502949000000  303.10  303.10  303.10  303.10  15.45124
23  1502949300000  303.10  303.10  303.10  303.10  10.18387
24  1502949600000  302.40  302.41  302.40  302.41  15.39780
25  1502949900000  302.41  302.61  302.41  302.41  10.22004
26  1502950200000  302.61  302.61  302.61  302.61  14.80194
27  1502950500000  302.02  303.71  302.02  303.71  70.10305
28  1502950800000  303.71  303.71  303.11  303.11   3.50706
29  1502951100000  303.11  303.11  303.11  303.11   3.23486

In [3]:
# Add Returns and Range
df["returns"] = df['close'].pct_change()
df["range"] = (df["high"] / df["low"]) - 1
df.dropna(inplace=True)
df.head()

       timestamp    open    high     low   close    volume   returns     range
1  1502942700000  300.00  301.13  298.00  298.00   1.97216 -0.010394  0.010503
2  1502943000000  298.00  298.00  298.00  298.00   0.00000  0.000000  0.000000
3  1502943300000  298.00  299.05  298.00  299.05  12.88486  0.003523  0.003523
4  1502943600000  299.05  300.10  299.05  300.10   6.58304  0.003511  0.003511
5  1502943900000  299.40  300.80  299.39  299.39  11.97275 -0.002366  0.004710

In [4]:
# Structure Data
X_train = df[["returns", "range"]]
# X_train.dropna(inplace=True)

X_train.head()

    returns     range
1 -0.010394  0.010503
2  0.000000  0.000000
3  0.003523  0.003523
4  0.003511  0.003511
5 -0.002366  0.004710

In [10]:
from sklearn import hmm

GaussianHMM(n_components=2)

ImportError: cannot import name 'hmm' from 'sklearn' (/home/hamza/anaconda3/lib/python3.10/site-packages/sklearn/__init__.py)

In [6]:
# Train Model
# model = GaussianHMM(n_states=4, covariance_type='full', n_emissions=2)
# model.train([np.array(X_train.values)])

In [ ]:
# Check Results
hidden_states = model.predict([X_train.values])[0]
print(hidden_states[:40])
len(hidden_states)

In [ ]:
# Structure the prices for plotting
i = 0
labels_0 = []
labels_1 = []
labels_2 = []
labels_3 = []
prices = df["close"].values.astype(float)
print("Correct number of rows: ", len(prices) == len(hidden_states))
for s in hidden_states:
    if s == 0:
        labels_0.append(prices[i])
        labels_1.append(float('nan'))
        labels_2.append(float('nan'))
        labels_3.append(float('nan'))
    if s == 1:
        labels_0.append(float('nan'))
        labels_1.append(prices[i])
        labels_2.append(float('nan'))
        labels_3.append(float('nan'))
    if s == 2:
        labels_0.append(float('nan'))
        labels_1.append(float('nan'))
        labels_2.append(prices[i])
        labels_3.append(float('nan'))
    if s == 3:
        labels_0.append(float('nan'))
        labels_1.append(float('nan'))
        labels_2.append(float('nan'))
        labels_3.append(prices[i])
    i += 1

In [ ]:
# Plot Chart
fig = plt.figure(figsize= (18, 8))
plt.plot(labels_0, color="yellow")
plt.plot(labels_1, color="red")
plt.plot(labels_2, color="green")
plt.plot(labels_3, color="orange")
plt.show()