In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_json('data/ETH_USDT-1h.json')
df.columns = ['timestamp', 'open', 'high', 'low', 'close', 'volume']
# convert timestamp to datetime format
df['timestamp'] = pd.to_datetime(df['timestamp'], unit='ms')
# set timestamp as index
df.set_index('timestamp', inplace=True)

print(df.shape)

df.head()

(48797, 5)

                       open    high    low   close     volume
timestamp
2017-08-17 04:00:00  301.13  302.57  298.0  301.61  125.66877
2017-08-17 05:00:00  301.61  303.28  300.0  303.10  377.67246
2017-08-17 06:00:00  302.40  304.44  301.9  302.68  303.86672
2017-08-17 07:00:00  302.68  307.96  302.6  307.96  754.74510
2017-08-17 08:00:00  307.95  309.97  307.0  308.62  150.75029

In [3]:
# based on https://towardsdatascience.com/advanced-candlesticks-for-machine-learning-i-tick-bars-a8b93728b4c5
def get_tick_bars(prices: np.ndarray, vols: np.ndarray,
                  times: np.ndarray, freq: int) -> np.ndarray:
    bars = np.zeros(shape=(len(range(freq, len(prices), freq)), 6), dtype=object)
    ind = 0
    for i in range(freq, len(prices), freq):
        bars[ind][0] = pd.Timestamp(times[i - 1])          # time
        bars[ind][1] = prices[i - freq]                    # open
        bars[ind][2] = np.max(prices[i - freq: i])         # high
        bars[ind][3] = np.min(prices[i - freq: i])         # low
        bars[ind][4] = prices[i - 1]                       # close
        bars[ind][5] = np.sum(vols[i - freq: i])           # volume
        ind += 1
    return bars


def get_volume_bars(prices: np.ndarray, vols: np.ndarray,
                    times: np.ndarray, bar_vol: int) -> np.ndarray:
    bars = np.zeros(shape=(len(prices), 6), dtype=object)
    ind = 0
    last_tick = 0
    cur_volume = 0
    for i in range(len(prices)):
        cur_volume += vols[i]
        if cur_volume >= bar_vol:
            bars[ind][0] = pd.Timestamp(times[i - 1])            # time
            bars[ind][1] = prices[last_tick]                     # open
            bars[ind][2] = np.max(prices[last_tick: i + 1])      # high
            bars[ind][3] = np.min(prices[last_tick: i + 1])      # low
            bars[ind][4] = prices[i]                             # close
            bars[ind][5] = np.sum(vols[last_tick: i + 1])        # volume
            cur_volume = 0
            last_tick = i + 1
            ind += 1
    return bars[:ind]

def get_dollar_bars(prices: np.ndarray, vols: np.ndarray,
                    times: np.ndarray, bar_sum: int) -> np.ndarray:
    bars = np.zeros(shape=(len(prices), 6), dtype=object)
    ind = 0
    last_tick = 0
    cur_sum = 0
    for i in range(len(prices)):
        cur_sum += vols[i] * prices[i]
        if cur_sum >= bar_sum:
            bars[ind][0] = pd.Timestamp(times[i - 1])            # time
            bars[ind][1] = prices[last_tick]                     # open
            bars[ind][2] = np.max(prices[last_tick: i + 1])      # high
            bars[ind][3] = np.min(prices[last_tick: i + 1])      # low
            bars[ind][4] = prices[i]                             # close
            bars[ind][5] = np.sum(vols[last_tick: i + 1])        # volume
            cur_sum = 0
            last_tick = i + 1
            ind += 1
    return bars[:ind]

# symmetrical CUSUM filter
def getTEvents(gRaw: pd.Series, h: float) -> np.ndarray:
    gRaw = gRaw[~gRaw.index.duplicated(keep='first')]
    tEvents, sPos, sNeg = [], 0, 0
    diff = gRaw.diff()
    for i in diff.index[1:]:
        sPos, sNeg = max(0, sPos + diff.loc[i]), min(0, sNeg + diff.loc[i])
        if sNeg < -h:
            sNeg = 0
            tEvents.append(i)
        elif sPos > h:
            sPos = 0
            tEvents.append(i)
    return pd.DatetimeIndex(tEvents)

def pcaWeights(cov: np.ndarray, riskDist: np.ndarray = None,
               riskTarget: float = 1.) -> np.ndarray:
    eVal, eVec = np.linalg.eigh(cov)
    indices = eVal.argsort()[::-1]
    eVal, eVec = eVal[indices], eVec[:, indices]    # sorting by decreasing eVal (i.e. decreasing variance)
    if riskDist is None:
        riskDist = np.zeros(cov.shape[0])
        riskdist[-1] = 1.
    loads = riskTarget * (riskDist / eVal) ** 0.5
    weights = np.dot(eVec, np.reshape(loads, (-1, 1)))
    return weights

def custom_bars(bar_data, type_bar='volume_bar'):
    timestamps = []
    opens = []
    highs = []
    lows = []
    closes = []
    volumes = []

    for item in bar_data:
        timestamps.append(item[0]) # timestamp
        opens.append(item[1]) # open
        highs.append(item[2]) # high
        lows.append(item[3]) # low
        closes.append(item[4]) # close 
        volumes.append(item[5]) # volume

    data = {
        'timestamp': timestamps, 
        f'{type_bar}_open': opens,
        f'{type_bar}_high': highs,
        f'{type_bar}_low': lows,
        f'{type_bar}_close': closes,
        f'{type_bar}_volume': volumes
        }    

    d = pd.DataFrame(data)
    d['timestamp'] = pd.to_datetime(d['timestamp'], unit='ms')
    # set timestamp as index
    d.set_index('timestamp', inplace=True)
    print(d.shape)

    return d

In [4]:
# 10 trades per bar
## Tick bar
tick_bar = get_tick_bars(df['close'].values, df['volume'].values, df.index, 10)
df_tick_bar = custom_bars(tick_bar, type_bar='tick_bar')   
df_tick_bar.tail()

(4879, 5)

,tick_bar_open,tick_bar_high,tick_bar_low,tick_bar_close,tick_bar_volume
timestamp,,,,,
2023-03-15 16:00:00,1705.13,1705.13,1616.01,1616.01,547269.3044
2023-03-16 02:00:00,1629.52,1653.80,1629.52,1649.76,318522.1321
2023-03-16 12:00:00,1646.31,1664.56,1640.44,1650.42,263076.1065
2023-03-16 22:00:00,1657.16,1679.64,1656.25,1672.69,275783.7935
2023-03-17 08:00:00,1673.73,1724.84,1665.13,1711.98,326100.8736

In [5]:
# 30 contracts per bar
## Volume bar
volume_bar = get_volume_bars(df['close'].values, df['volume'].values, df.index, 30)
df_volume_bar = custom_bars(volume_bar, type_bar='volume_bar')   
df_volume_bar.tail()

(48721, 5)

,volume_bar_open,volume_bar_high,volume_bar_low,volume_bar_close,volume_bar_volume
timestamp,,,,,
2023-03-17 10:00:00,1761.12,1761.12,1761.12,1761.12,53441.6766
2023-03-17 11:00:00,1737.12,1737.12,1737.12,1737.12,43166.3812
2023-03-17 12:00:00,1736.00,1736.00,1736.00,1736.00,33845.6540
2023-03-17 13:00:00,1711.13,1711.13,1711.13,1711.13,56422.2281
2023-03-17 14:00:00,1717.41,1717.41,1717.41,1717.41,32321.0631

In [6]:
# $30,000 per bar
## Dollar bar
dollar_bar = get_dollar_bars(df['close'].values, df['volume'].values, df.index, 30000)
df_dollar_bar = custom_bars(dollar_bar, type_bar='dollar_bar')   
df_dollar_bar.tail()

(48521, 5)

,dollar_bar_open,dollar_bar_high,dollar_bar_low,dollar_bar_close,dollar_bar_volume
timestamp,,,,,
2023-03-17 10:00:00,1761.12,1761.12,1761.12,1761.12,53441.6766
2023-03-17 11:00:00,1737.12,1737.12,1737.12,1737.12,43166.3812
2023-03-17 12:00:00,1736.00,1736.00,1736.00,1736.00,33845.6540
2023-03-17 13:00:00,1711.13,1711.13,1711.13,1711.13,56422.2281
2023-03-17 14:00:00,1717.41,1717.41,1717.41,1717.41,32321.0631

In [15]:
dataframes = [
    df, 
#     df_tick_bar,
    df_volume_bar, 
    df_dollar_bar
]

result = pd.concat(dataframes, axis=1).sort_values(by='timestamp')#.reset_index(drop=True)
# result['timestamp'] = pd.to_datetime(result['timestamp'], unit='ms')

result.tail(50)

,open,high,low,close,volume,volume_bar_open,volume_bar_high,volume_bar_low,volume_bar_close,volume_bar_volume,dollar_bar_open,dollar_bar_high,dollar_bar_low,dollar_bar_close,dollar_bar_volume
timestamp,,,,,,,,,,,,,,,
2023-03-15 14:00:00,1666.82,1677.64,1628.94,1654.97,98646.4632,1634.04,1634.04,1634.04,1634.04,77394.49550,1634.04,1634.04,1634.04,1634.04,77394.49550
2023-03-15 15:00:00,1654.97,1656.49,1625.56,1634.04,77394.4955,1616.01,1616.01,1616.01,1616.01,76729.83820,1616.01,1616.01,1616.01,1616.01,76729.83820
2023-03-15 16:00:00,1634.03,1644.09,1612.25,1616.01,76729.8382,1629.52,1629.52,1629.52,1629.52,50539.39330,1629.52,1629.52,1629.52,1629.52,50539.39330
2023-03-15 17:00:00,1616.01,1632.30,1611.00,1629.52,50539.3933,1647.11,1647.11,1647.11,1647.11,59254.99830,1647.11,1647.11,1647.11,1647.11,59254.99830
2023-03-15 18:00:00,1629.52,1648.53,1620.58,1647.11,59254.9983,1647.99,1647.99,1647.99,1647.99,55779.93010,1647.99,1647.99,1647.99,1647.99,55779.93010
2023-03-15 19:00:00,1647.10,1655.41,1634.89,1647.99,55779.9301,1647.04,1647.04,1647.04,1647.04,23227.72640,1647.04,1647.04,1647.04,1647.04,23227.72640
2023-03-15 20:00:00,1648.00,1653.17,1637.72,1647.04,23227.7264,1653.80,1653.80,1653.80,1653.80,14007.07570,1653.80,1653.80,1653.80,1653.80,14007.07570
2023-03-15 21:00:00,1647.04,1654.40,1646.00,1653.80,14007.0757,1648.29,1648.29,1648.29,1648.29,22417.39340,1648.29,1648.29,1648.29,1648.29,22417.39340
2023-03-15 22:00:00,1653.79,1664.64,1641.12,1648.29,22417.3934,1649.96,1649.96,1649.96,1649.96,18177.73250,1649.96,1649.96,1649.96,1649.96,18177.73250
2023-03-15 23:00:00,1648.28,1655.12,1644.66,1649.96,18177.7325,1640.18,1640.18,1640.18,1640.18,32158.77230,1640.18,1640.18,1640.18,1640.18,32158.77230
2023-03-16 00:00:00,1649.95,1659.71,1638.90,1640.18,32158.7723,1645.61,1645.61,1645.61,1645.61,25777.98140,1645.61,1645.61,1645.61,1645.61,25777.98140
2023-03-16 01:00:00,1640.18,1648.51,1632.18,1645.61,25777.9814,1649.76,1649.76,1649.76,1649.76,17181.12870,1649.76,1649.76,1649.76,1649.76,17181.12870
2023-03-16 02:00:00,1645.61,1654.64,1644.36,1649.76,17181.1287,1646.31,1646.31,1646.31,1646.31,18230.86060,1646.31,1646.31,1646.31,1646.31,18230.86060
2023-03-16 03:00:00,1649.76,1651.11,1641.66,1646.31,18230.8606,1640.44,1640.44,1640.44,1640.44,31850.91500,1640.44,1640.44,1640.44,1640.44,31850.91500
2023-03-16 04:00:00,1646.30,1648.47,1636.60,1640.44,31850.9150,1644.31,1644.31,1644.31,1644.31,20236.75880,1644.31,1644.31,1644.31,1644.31,20236.75880
2023-03-16 05:00:00,1640.44,1648.95,1636.83,1644.31,20236.7588,1652.83,1652.83,1652.83,1652.83,22877.16160,1652.83,1652.83,1652.83,1652.83,22877.16160
2023-03-16 06:00:00,1644.31,1654.71,1643.88,1652.83,22877.1616,1655.57,1655.57,1655.57,1655.57,25255.14960,1655.57,1655.57,1655.57,1655.57,25255.14960
2023-03-16 07:00:00,1652.83,1659.90,1649.09,1655.57,25255.1496,1653.68,1653.68,1653.68,1653.68,17572.46730,1653.68,1653.68,1653.68,1653.68,17572.46730
2023-03-16 08:00:00,1655.56,1657.56,1650.83,1653.68,17572.4673,1653.23,1653.23,1653.23,1653.23,37332.34420,1653.23,1653.23,1653.23,1653.23,37332.34420
2023-03-16 09:00:00,1653.68,1665.00,1639.22,1653.23,37332.3442,1664.56,1664.56,1664.56,1664.56,38965.87240,1664.56,1664.56,1664.56,1664.56,38965.87240
2023-03-16 10:00:00,1653.22,1669.99,1646.19,1664.56,38965.8724,1660.36,1660.36,1660.36,1660.36,21061.86360,1660.36,1660.36,1660.36,1660.36,21061.86360
2023-03-16 11:00:00,1664.55,1665.29,1656.99,1660.36,21061.8636,1650.42,1650.42,1650.42,1650.42,29692.71340,1650.42,1650.42,1650.42,1650.42,29692.71340
2023-03-16 12:00:00,1660.37,1662.65,1645.85,1650.42,29692.7134,1657.16,1657.16,1657.16,1657.16,37200.84550,1657.16,1657.16,1657.16,1657.16,37200.84550
2023-03-16 13:00:00,1650.42,1659.20,1635.96,1657.16,37200.8455,1659.16,1659.16,1659.16,1659.16,34124.07480,1659.16,1659.16,1659.16,1659.16,34124.07480
2023-03-16 14:00:00,1657.17,1666.73,1645.73,1659.16,34124.0748,1663.06,1663.06,1663.06,1663.06,28175.16320,1663.06,1663.06,1663.06,1663.06,28175.16320
2023-03-16 15:00:00,1659.15,1666.62,1652.66,1663.06,28175.1632,1660.99,1660.99,1660.99,1660.99,30564.22830,1660.99,1660.99,1660.99,1660.99,30564.22830
2023-03-16 16:00:00,1663.06,1664.87,1654.00,1660.99,30564.2283,1656.25,1656.25,1656.25,1656.25,23094.31370,1656.25,1656.25,1656.25,1656.25,23094.31370
2023-03-16 17:00:00,1661.00,1662.40,1652.88,1656.25,23094.3137,1661.25,1661.25,1661.25,1661.25,17933.05600,1661.25,1661.25,1661.25,1661.25,17933.05600
2023-03-16 18:00:00,1656.25,1662.29,1654.45,1661.25,17933.0560,1679.64,1679.64,1679.64,1679.64,41777.92290,1679.64,1679.64,1679.64,1679.64,41777.92290
2023-03-16 19:00:00,1661.24,1691.42,1660.64,1679.64,41777.9229,1656.31,1656.31,1656.31,1656.31,28315.91350,1656.31,1656.31,1656.31,1656.31,28315.91350
2023-03-16 20:00:00,1679.64,1679.79,1652.53,1656.31,28315.9135,1671.48,1671.48,1671.48,1671.48,20989.14190,1671.48,1671.48,1671.48,1671.48,20989.14190
2023-03-16 21:00:00,1656.30,1681.78,1654.66,1671.48,20989.1419,1672.69,1672.69,1672.69,1672.69,13609.13370,1672.69,1672.69,1672.69,1672.69,13609.13370
2023-03-16 22:00:00,1671.47,1676.25,1668.53,1672.69,13609.1337,1673.73,1673.73,1673.73,1673.73,14007.82950,1673.73,1673.73,1673.73,1673.73,14007.82950
2023-03-16 23:00:00,1672.69,1677.98,1670.44,1673.73,14007.8295,1665.13,1665.13,1665.13,1665.13,16250.01240,1665.13,1665.13,1665.13,1665.13,16250.01240
2023-03-17 00:00:00,1673.73,1675.00,1662.65,1665.13,16250.0124,1695.77,1695.77,1695.77,1695.77,40315.97500,1695.77,1695.77,1695.77,1695.77,40315.97500
2023-03-17 01:00:00,1665.13,1697.29,1663.67,1695.77,40315.9750,1703.71,1703.71,1703.71,1703.71,92421.92470,1703.71,1703.71,1703.71,1703.71,92421.92470
2023-03-17 02:00:00,1695.78,1725.00,1691.55,1703.71,92421.9247,1708.62,1708.62,1708.62,1708.62,17046.51860,1708.62,1708.62,1708.62,1708.62,17046.51860
2023-03-17 03:00:00,1703.72,1712.65,1700.20,1708.62,17046.5186,1703.54,1703.54,1703.54,1703.54,15204.13210,1703.54,1703.54,1703.54,1703.54,15204.13210
2023-03-17 04:00:00,1708.62,1710.79,1702.96,1703.54,15204.1321,1703.27,1703.27,1703.27,1703.27,16431.65040,1703.27,1703.27,1703.27,1703.27,16431.65040
2023-03-17 05:00:00,1703.55,1705.90,1696.37,1703.27,16431.6504,1724.84,1724.84,1724.84,1724.84,43216.80380,1724.84,1724.84,1724.84,1724.84,43216.80380
2023-03-17 06:00:00,1703.27,1730.99,1702.41,1724.84,43216.8038,1715.59,1715.59,1715.59,1715.59,34746.78140,1715.59,1715.59,1715.59,1715.59,34746.78140
2023-03-17 07:00:00,1724.84,1725.95,1709.01,1715.59,34746.7814,1711.98,1711.98,1711.98,1711.98,36459.24570,1711.98,1711.98,1711.98,1711.98,36459.24570
2023-03-17 08:00:00,1715.59,1722.47,1710.44,1711.98,36459.2457,1720.03,1720.03,1720.03,1720.03,31873.51960,1720.03,1720.03,1720.03,1720.03,31873.51960
2023-03-17 09:00:00,1711.99,1726.22,1711.12,1720.03,31873.5196,1745.07,1745.07,1745.07,1745.07,66126.82320,1745.07,1745.07,1745.07,1745.07,66126.82320
2023-03-17 10:00:00,1720.02,1748.66,1719.62,1745.07,66126.8232,1761.12,1761.12,1761.12,1761.12,53441.67660,1761.12,1761.12,1761.12,1761.12,53441.67660
2023-03-17 11:00:00,1745.07,1763.97,1737.68,1761.12,53441.6766,1737.12,1737.12,1737.12,1737.12,43166.38120,1737.12,1737.12,1737.12,1737.12,43166.38120
2023-03-17 12:00:00,1761.13,1762.10,1725.96,1737.12,43166.3812,1736.00,1736.00,1736.00,1736.00,33845.65400,1736.00,1736.00,1736.00,1736.00,33845.65400
2023-03-17 13:00:00,1737.13,1744.01,1730.31,1736.00,33845.6540,1711.13,1711.13,1711.13,1711.13,56422.22810,1711.13,1711.13,1711.13,1711.13,56422.22810
2023-03-17 14:00:00,1736.00,1743.42,1703.02,1711.13,56422.2281,1717.41,1717.41,1717.41,1717.41,32321.06310,1717.41,1717.41,1717.41,1717.41,32321.06310
2023-03-17 15:00:00,1711.13,1723.66,1707.00,1717.41,32321.0631,301.61,301.61,301.61,301.61,125.66877,301.61,301.61,301.61,301.61,125.66877